<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <h2>Password Reset for MS Network</h2>
        <p>Dear user {{ name }},</p>
        <p>Your password has been reseted and this is your temoplary password. <strong>{{password}}</strong></p>
        <p>Login and change it</p>

        <p>Best regards,<br>MS Network</p>
    </div>
</body>
</html>
