<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
    <title>subscribe</title>
</head>
<body>
    <div class="container">
        <h2>Thanks for Subscribing to Andromeda</h2>
        <p>Dear {{ name }},</p>
        <p>Thank you for subscribing to {{ app_name }}! You are now part of our {{ subscription_plan_name }} plan.</p>
        <p>Stay tuned for updates and announcements related to your subscription.</p>
        <p>Best regards,<br>The Andromeda Team</p>
    </div>
</body>
</html>
